.notfound-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.notfound-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(255, 100, 100);
}

.notfound-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.notfound-link {
  display: inline-block;
  text-decoration: none;
  padding: 0.4rem 0.9rem;
  border: none;
  color: #fff;
  background:  #27b5a0;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.notfound-link:hover {
  background: #169174;
}
