.add-goal-form {
  display: flex;
  gap: 0.5rem;
}

.add-goal-form input {
  flex: 1;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;

  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.add-goal-form input:focus {
  border-color: #4bc7b5;
}

.add-goal-form input.error, select.error {
  border-color: rgb(255, 100, 100);
}

.error-message {
  color: rgb(255, 100, 100);
  text-align: start;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.goal-type-select {
  padding: 0.6rem 1.6rem 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #757575;
  appearance: none;
}

.goal-type-select:focus {
  outline: none;
  border-color: #4bc7b5;
}

.select-wrapper {
  position: relative;
  display: inline-block;
} 

.select-wrapper::after {
  content: "▾";
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
}

@media (max-width: 600px) {
  .add-goal-form {
    flex-direction: column;
  }

  .add-goal-form input,
  .goal-type-select {
    padding: 0.75rem 0.9rem;
  }

  .goal-type-select {
    width: 100%;
  }
}
