.add-goal-form {
  display: flex;
  gap: 0.5rem;
}

.add-goal-form input {
  flex: 1;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;

  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.add-goal-form input:focus {
  border-color: #4bc7b5;
}

.add-goal-form input.error {
  border-color: rgb(255, 100, 100);
}

.error-message {
  color: rgb(255, 100, 100);
  text-align: start;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}
