.btn {
  border: none;
  cursor: pointer;
}

.btn-primary {
  border-radius: 6px;
  background:  #27b5a0;
  color: white;
  padding: 0.6rem 1rem;
  font-size: 1rem;
}

.btn-primary:hover {
  background: #169174;
}

.btn-delete {
  background-color: transparent;
  border-radius: 10px;
  padding: 0.3rem;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.btn-delete:hover {
  background-color: #fff1f1;
}
