.btn {
  padding: 0.6rem 1rem;
  font-size: 1rem;

  border: none;
  border-radius: 6px;
  cursor: pointer;

  background:  #27b5a0;
  color: white;
}

.btn-primary {
  background:  #27b5a0;
  color: white;
}

.btn-primary:hover {
  background: #169174;
}
