.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #0b4c3d;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.navbar-button {
  padding: 0 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ffffff;
  color: #0b4c3d;
  line-height: 2rem;
  text-decoration: none
}

.navbar-button:hover {
  background-color: rgb(243, 255, 249);
}

.navbar-user {
  font-weight: 500;
}
