.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #0b4c3d;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.4rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  flex: 1;
  justify-content: flex-end;
}

.navbar-button {
  padding: 0 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ffffff;
  color: #0b4c3d;
  line-height: 2rem;
  text-decoration: none
}

.navbar-button:hover {
  background-color: rgb(243, 255, 249);
}

.navbar-user {
  font-weight: 500;
}

.links{
  padding-left: 2rem;
  font-size: 1rem;
  gap: 1rem;
  display: flex;
  line-height: 2rem;
  justify-content: flex-start;
}

.nav-link {
  color: #d1d5db;
  text-decoration: none;
  font-weight: 500;
  padding: 0 1rem;
  border-radius: 20px;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  border: 1px solid #ffffff;
  color: #fff;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .navbar {
    display: grid;
    grid-template-areas:
      "logo actions"
      "links links";
    grid-template-columns: 1fr auto;
    gap: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
  }

  .navbar-left {
    grid-area: logo;
  }

  .navbar-right {
    grid-area: actions;
    justify-content: flex-end;
  }
  
  .navbar-logo {
    padding-bottom: 0rem;
  }

  .links {
    grid-area: links;
    padding-left: 0rem;
    padding-top: 0.2rem;
    border-top: 1px solid #ffffff;
  }

  .nav-link.active {
    background-color: transparent;
    color: #fff;
    padding: 0 0.2rem;
    border: none;
  }
  .nav-link {
    padding: 0 0.2rem;
  }
}
