.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.modal h2 {
  margin-top: 0;
}

.modal input {
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  flex: 1;

  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.modal input.error {
  border-color: rgb(255, 100, 100);
}

.error-text {
  color: rgb(255, 100, 100);
  text-align: start;
  font-size: 0.85rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

button.primary {
  padding: 0 1rem;
  font-size: 1rem;

  border: none;
  border-radius: 6px;
  cursor: pointer;

  background:  #27b5a0;
  color: white;
  line-height: 2rem;
}

button.primary:hover {
  background: #169174;
}

button.secondary {
  padding: 0 1rem;
  font-size: 1rem;

  border-radius: 6px;
  cursor: pointer;

  background: #ffffff;
  border: 1px solid #9af2e5;
  line-height: 2rem;
}

button.secondary:hover {
  background: #ddfbf7;
  border: 1px solid #ddfbf7;
}
